.wrapper-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin-bottom: 2rem;
}

.wrapper-about h3 {
  margin: 0;
}

.wrapper-about p {
  font-size: 1.1rem;
}

.wrapper-about .develop {
  display: flex;
  gap: 3rem;
}

.wrapper-about .develop img {
  width: 10rem;
  border-radius: 50%;
}

.school {
  position: relative;
}

.wrapper-about .school img {
  position: absolute;
  right: -3.2rem;
  top: -1rem;
  width: 3rem;
  border-radius: 10px;
  transform: rotate(18deg);
  animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--color-pulse-shadow);
  }

  50% {
    box-shadow: 0 0 10px 0 var(--color-pulse-shadow);
  }

  100% {
    box-shadow: 0 0 0 0 var(--color-pulse-shadow);
  }
}
