#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header-title {
  font-size: 2.5em;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

form {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

.search-input {
  height: 2em;
  border-radius: 8px;
  background-color: #f9f9f9;
  border: 1px solid #bababa;
  padding: 0.6em 1.2em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

table {
  width: 100%;
  min-width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  border-collapse: collapse;
  margin-bottom: 1em;
}

table img {
  width: 4em;
}

tr {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(100px, 1fr);
  padding: 0.3em;
}

th,
td {
  padding: 0.3em;
  min-width: 5em;
  border: 1px solid #dbdbdb;
  text-align: center;
  align-content: center;
}

.loading-row td {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.table-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #666;
  font-size: 14px;
}

.loader-spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
