#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.logo {
  width: 6em;
  will-change: filter;
  transition: filter 300ms;
}

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header-title {
  font-size: 2.5em;
}

.header-link {
  color: #535bf2;
}

.header-link.active {
  font-weight: bold;
  text-shadow: 0 0 10px #646cff59;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

form {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

.search-input {
  height: 2em;
  border-radius: 8px;
  background-color: #f9f9f9;
  border: 1px solid #bababa;
  padding: 0.6em 1.2em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.list {
  list-style-type: none;
  margin: 0 0 1em;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.item {
  width: 10em;
  min-height: 10em;
  border: 1px solid #bababa;
  border-radius: 10px;
  padding: 0 1em 1em;
  overflow: hidden;
  cursor: pointer;
}

.item:hover {
  transition: box-shadow 0.4s ease-in-out;
  box-shadow: 0 0 5px 8px #646cff10;
}

.item img {
  width: 80%;
  height: 80%;
}

.no-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.6rem;
}

.no-results img {
  border-radius: 10px;
  max-width: 20rem;
}

.loader {
  width: 15rem;
  font-weight: bold;
}

.loader img {
  width: 100%;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
