:root {
  --color-violet: #646cff;
  --color-violet-dark: #646cff59;
  --color-white-light: #f9f9f9;
  --color-dark: #242424;
  --color-border: #bababa;
  --color-border-30: #bababa30;
  --color-button-background: #1a1a1a;
  --color-button-background-dark: #393939;
  --color-shadow-hover: #646cff10;
  --color-logo-hover: #61dafbaa;
  --color-red: #b10000;
  --color-green: #27b100;
}

body.light {
  --color-text: var(--color-dark);
  --color-background: var(--color-white-light);
  --color-pulse-shadow: var(--color-dark);
}

body.dark {
  --color-text: var(--color-white-light);
  --color-background: var(--color-dark);
  --color-pulse-shadow: var(--color-white-light);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-violet);
  text-decoration: inherit;
}

a:hover {
  transition: text-shadow 0.3s ease-in-out;
  text-shadow: 0 0 10px var(--color-violet-dark);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  border-radius: 8px;
  border: 1px solid var(--color-border);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-background);
  cursor: pointer;
}

button,
input {
  color: var(--color-text);
  background-color: var(--color-background);
  transition: box-shadow 0.25s ease-in-out;
}

button:hover,
input:hover {
  box-shadow: 0 0 5px 8px var(--color-shadow-hover);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  opacity: 0.5;
  cursor: auto;
  box-shadow: none;
}
