.menu {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  .menu-field-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    select,
    input {
      border: 1px solid #7ab9e6;
      padding: 0.5rem;
      border-radius: 5px;
    }
  }
}
