.widget {
  position: absolute;
  top: 0;
  left: 0;

  &-dialog {
    width: max-content;
    border-radius: 5px;
    border: 1px solid #cacaca;

    p {
      font-weight: 600;
    }
  }

  &-fields {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  &-field {
    input,
    label {
      cursor: pointer;
    }
  }
}
